 
  .form__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-primary);
    padding: 2.5em;
    border-radius: 1em;
    transition: 0.4s ease-in-out;
  }
  
  
  .heading {
    color: var(--color-font-primary);
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
  }
  
  .input {
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: white;
    outline: none;
    padding: 0.7em;
    transition: 0.4s ease-in-out;
  }
  
  
  .input:focus {
    background: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .form .btn {
    margin-top: 2em;
    align-self: center;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: none;
    color: black;
    transition: 0.4s ease-in-out;
  }
  
  
  .form .btn:active {
    transition: 0.2s;
    transform: translateX(0em) translateY(0em);
    box-shadow: none;
  }
  
  @media screen and (min-width: 700px) {
    .form__container{
      margin-top: 6em;
    }
    .form{
      width: 30em;
    }
    .input {
       width: 100%;
      }
      .heading{
        font-size: 2.5em;
      }
  }