 
  .form__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 350px;
    height: 450px;
    background-color: var(--color-primary);
    padding: 3em;
    border-radius: 1em;
    transition: 0.4s ease-in-out;
  }
  
  
  .heading {
    color: var(--color-font-primary);
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  .input {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    width: 100%;
    padding: 0.7em;
    transition: 0.4s ease-in-out;
  }
  
  
    .btn {
    margin-top: 2em;
    align-self: center;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    width: 8em;
    border-radius: 0.5em;
    color: black;
    transition: 0.4s ease-in-out;
    font-size: 1em;
  }
  
  
  
  @media screen and (min-width: 640px) {
    .form__container{
      margin-top: 3em;
    }
    .form{
      max-width: 32em;
    }
    .input {
       width: 100%;
      }
      .heading{
        font-size: 2.5em;
      }
    .btn {
        width: 10em;
      }
  }