.navBar__container{
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-content: center;
}
.navBar__title{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.navBar__list__container{
    border: 2px solid;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    align-content: center;
    gap: 0.5em;
}

.navBar__list{
    border: 2px solid;
}