.close-nav-up{
    transform: scale(0);
}
.close-nav-down{
    transform: scale(1);
}
.navBar__down__list__container{
    border: 2px solid var(--color-primary);
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: stretch;
    text-align: center;
    gap: 0.3em;
    margin-top: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0em 0.5em;
    background-color: var(--color-primary);
    color: var(--color-font-primary);
    transition: 0.2s ease-in;
    border-radius: 5px 5px 0px 0px;
    z-index: 5;
}

.navBar__down__list{
    color: var(--color-font-primary);
    font-size: large;
    margin-top: 1em;
    width: 50px;
    transition: 0.2s ease-in-out;
}
.navBar__down__list:hover{
    color: var(--color-font-secunday-dark);
    transform: scale(1.5);
}

@media (min-width: 700px) {
    .navBar__container{
        grid-template-columns: 1fr 1fr;
        padding-right: 3em;
        height: 140px;
    }
    .close-nav-up{
        transform: scale(1);
    }
    .close-nav-down{
        transform: scale(0);
    }
    .navBar__list__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .navBar__list{
        font-size: x-large;
    }
}