
.navBar__container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-content: center;
    background-color: var(--color-primary);
    transition: 0.2s ease-in;
}

    /* NAVBAR NAME AND OPTIONS */

.navBar__title{
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 5em;
}

        /* NAME */

.navBar__name__container{
    /* border: 2px solid; */
    font-size: 28px;
    gap: 0.2em;
    transition: 0.2s ease-in;
    color: var(--color-font-primary);
    margin-top: -1em;
}

.navBar__name__container:hover{
    color: var(--color-font-secunday-dark);
}

/* .navBar__first__name{
    font-size: xx-large;
    padding-right: 50px;
}

.navBar__last__name{
    font-size: x-large;
    padding-left: 50px;
} */

        /* OPTIONS */
.navBar__list__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 0.3em;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    color: var(--color-font-primary);
}

.close-nav-up{
    transform: scaleY(0);
}

.navBar__btn__container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0em 1em;
    transition: 0.2s ease-in;
    
}

.navBar__btn{
    border-radius: 0.5em;
}

.navBar__list{
    transition: 0.2s ease-in;
    color: var(--color-font-primary);
    margin-top: 1.5em;
}

.navBar__list:hover{
    color: var(--color-font-secunday-dark);
}

@media (min-width: 700px) {
    .navBar__container{
        grid-template-columns: 1fr 1fr;
        padding-right: 3em;
        height: 140px;
    }
    .close-nav-up{
        transform: scaleY(1);
    }
    .navBar__list__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .navBar__list{
        font-size: x-large;
        
    }
    .navBar__title{
        margin-top: 3.5em;        
    }
    .navBar__name__container{
        font-size: xx-large;
        display: flex;
        gap: 0.5em;
    }

    .navBar__first__name{
        /* font-size: xx-large; */
        padding-right: 0px;
    }
    
    .navBar__last__name{
        /* font-size: x-large; */
        padding-left: 0px;
    }

}