ul{
    list-style: none;
}
.navBar__container{
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 180px;
    justify-content: center;
    align-content: center;
}
.navBar__title{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.navBar__list__container{
    border: 2px solid;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    align-content: center;
    gap: 0.5em;
}

.navBar__list{
    border: 2px solid;
}

@media (min-width: 700px) {
    .navBar__list__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        gap: 0.5em;
    }
}