

.project__father__container {
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 1em 3em 1em 3em;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.project__title {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    gap: 1em;
    color: var(--color-font-third-dark);   
    margin-bottom: -2em;
    transition: 0.2s ease-in-out;
}
.project__title__cards {
    font-size: x-large;
    margin: 0.5em;
    color: white;
}

.project__groups {
    /* box-shadow: 0.1em 0em 1em 0em; */
    /* border: 2px solid; */
    border-radius: 1em;
    width: 100%;
    height: 500px;
    max-width: 350px;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: -2em;
}
.project__groups:hover {
    transform: scaleY(1.02);
    transform: translateY(-4.5em);
}

.project__group__1{
    border-radius: 1em 1em 0em 0em;
    background-color: var(--color-primary);
    width: 100%;
    height: 16em;
    z-index: 1;
    margin-bottom: -15.5em;
    
}
.project__group__2{
    /* border: 2px solid blue; */
    border-radius: 0em 0em 1em 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 15.2em;
    z-index: 0;
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
}
.project__groups:hover .project__group__2 {
    transform: translateY(6.7em);
    transition: 0.5s ease-in-out;
}

.project__btn__card__container{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0em 1em;
    transition: 0.2s ease-in;
}

.project__btn__card{
    border-radius: 0.5em;
    color: var(--color-font-third-dark);
    background-color: var(--color-secundary);
    transition: 0.1s ease-in-out;
}


.project__btn__card:hover {
    /* transform: scale(1.02); */
    box-shadow: 0.1em 0em 1em 0em;
}
.project__image {
    border-radius: 1em;
    width: 100%;
    height: 175px;
    max-width: 90%;
    margin: auto;
    margin-top: 1.1em;
    transition: 0.2s ease-in-out;
}


.project__description {
    border: 2px solid var(--color-primary);
    font-size: 19px;
    width: 100%;
    color: var(--color-font-third-dark);
    background-color: var(--color-secundary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  @media (min-width: 700px) {
    .project__father__container {
        margin-bottom: 1em;   
    }
    .project__abilities {
        max-width: 150px;
    }
    .project__description {
        font-size: 15px;
      }
      .project__groups {
        width: 100%;
        height: 400px;
        max-width: 280px;
    }
    .project__image {
        height: 142px;
        max-width: 90%;
        margin-top: 1.3em;
    }
    .project__group__1{
        height: 14em;
        margin-bottom: -11em;
    }
    .project__group__2{
        border-radius: 0em 0em 1em 1em;
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 11em;
        background-color: var(--color-primary);
    }
    .project__groups:hover .project__group__2 {
        transform: translateY(5em);
        transition: 0.5s ease-in-out;
    }
}



a{
text-decoration: none;
}