
.project__father__container {
    display: flex;
    flex-wrap: wrap;
     gap: 3em;
     padding: 1em;
     justify-content: center;
     align-items: center;
     margin-top: 1em;
     margin-bottom: 2em;
    }
    
.project__title {
    /* border: 2px solid; */
    display: grid;
    font-size: xx-large;
    gap: 1em;
    color: var(--color-font-third-dark);    margin-bottom: -1.5em;
    transition: 0.2s ease-in-out;
}

.project__groups {
    border: 2px solid red;
    width: 100%;
    max-width: 350px;
    height: 250px;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.project__groups:hover {
    transform: scale(1.05);
}
.project__image {
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-top: 0.5em;
    transition: 0.2s ease-in-out;
}


.description {
    font-size: 18px;
    word-wrap: break-word;
    padding-top: 1em;
    padding-bottom: 5em;
    color: var(--color-font-third-dark);
  }
  
  @media (min-width: 700px) {
    .project__father__container {
        margin-top: 1em;
        margin-bottom: -1em;   
    }
    .project__abilities {
        max-width: 150px;
    }
    .description {
        padding-bottom: 1em;
      }
}


