.icons__father__container {
    display: flex;
    flex-wrap: wrap;
     gap: 3em;
     padding: 1em;
     justify-content: center;
     align-items: center;
     margin-top: 1em;
     margin-bottom: 1.5em;
}

.icons__title {
    display: grid;
    font-size: xx-large;
    gap: 1em;
    color: var(--color-green);;
}

.icons__groups {
    /* border: 2px solid; */
    width: 100%;
    max-width: 350px;
    height: 250px;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.icons__groups:hover {
    transform: scale(1.05);
}
.icons__abilities {
    width: 100%;
    max-width: 130px;
    margin: auto;
    margin-top: 0.5em;
}


.description {
    /* text-align: justify; */
    /* opacity: 0; */
    font-size: 18px;
    transition: opacity 0.5s;
    word-wrap: break-word;
    padding-top: 1em;
  }
  
  .iconos__groups:hover .iconos__container {
    transform: translateY(0);
  }
  
  .iconos__groups:hover .descripcion {
    opacity: 1;
    transition-delay: 0.25s;
  }
  @media (min-width: 700px) {
    .icons__father__container {
        margin-top: 1em;
        margin-bottom: -1em;   
    }

}