.iconos__container {
    display: flex;
    flex-wrap: wrap;
     gap: 2em;
     padding: 1em;
     justify-content: center;
     align-items: center;
     padding-top: 2.5em;
}

.icons__title {
    display: grid;
    gap: 1em;
    color: var(--color-green);;
}

.iconos__groups {
    width: 100%;
    max-width: 350px;
    height: 250px;
    border-radius: 1em 5em;
    align-items: center;
    text-align: center;
}

.iconos__abilities {
    width: 100%;
    max-width: 130px;
    margin: auto;
    padding-top: 1em;   
}


.description {
    text-align: justify;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
    word-wrap: break-word;
    padding-top: 1em;
  }
  
  .iconos__groups:hover .iconos__container {
    transform: translateY(0);
  }
  
  .iconos__groups:hover .description {
    opacity: 1;
    transition-delay: 0.25s;
  }