.contact__container{
    border: 2px solid;
    height: 17em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}
.contact__container__title{
    display: flex;
    justify-content: center;
    color: var(--color-font-third-dark);
    font-size: 1.5em;
}
.contact__container__footer{
    /* border: 2px solid; */
    height: 100px;
    align-content: center;
    margin-top: 3em;
    margin-bottom: 6em;
}
.contact__list__container{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.7em;
    padding: 0em 6em 0em;
}
.contact__item{
    /* border: 2px solid; */
    border-radius: 0.5em;
    background-color: var();
    transition: 0.5s ease-in-out;
}
.bx {
    border-radius: 0.1em;
    color: var(--color-btn-box);
}

@media (min-width: 700px) {
    .contact__container{
    height: 20em;
    margin-top: 3em;
}
.contact__container__footer{
    margin-top: 3em;    
    margin-bottom: 3em;
}
.contact__container__title{
    font-size: 2.1em;
}
}