.center__container{
    border: 2px solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}
.center__container__footer{
    border: 2px solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2.5em;
}
@media (min-width: 700px) {
    .center__container{
    height: 170px;
    margin-top: 2.5em;
}
.center__container__footer{
    margin-top: 2.5em;
}
    
}