.center__container{
    border: 2px solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30%;
}
.center__container__footer{
    border: 2px solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
}
@media (min-width: 700px) {
    .center__container{
    margin-top: 3%;
    height: 170px;
}
.center__container__footer{
    margin-top: 4%;
}
    
}