  
  /**/
  :root{
    --color-font-primary: rgb(0, 0, 0);

    
    --color-primary: rgba(81,180,232,1);
    --color-secundary: rgb(255, 255, 255);
    
    --color-card-primary: rgba(184,222,255,1);
    --color-card-secundary: rgba(229,242,255,1);

    --color-button: #38a0d8;
    
    transition: 0.5s ease-in-out;
}
.dark{
    --color-font-primary: rgb(255, 255, 255);

    --color-primary: rgba(47,41,88,1);
    --color-secundary:  rgba(83,56,143,1);

    --color-card-primary: rgba(88,54,179,1);
    --color-card-secundary:  rgba(54,42,132,1);
   
    --color-button: #7d69f1;

    
}
